# Build Maven
target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties.bak

*.exec

.env
.env.local

# IDE
.idea/
.vscode/
*.iml
*.iws
*.ipr
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache/
.apt_generated/

# SO
Thumbs.db
.DS_Store

__pycache__/
*.pyc

HELP.md
